@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: white;
}
body header .navbar {
  background-color: #f8f9fa !important;
}
body header .navbar div .nombre-empresa {
  font-size: 3rem;
}
body header .navbar div div {
  justify-content: center;
}
body header .navbar div div ul li a {
  font-size: 3rem !important;
  font-family: "Poppins", sans-serif;
}
body header .navbar ul {
  font-size: 1rem;
}
body main section div .banner {
  width: 100%;
  height: auto;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
}
body main section .mediaQlogo .logo {
  margin-top: -46rem;
  background-color: rgba(255, 255, 255, 0.5);
  height: 38rem;
  border-radius: 5rem;
  vertical-align: middle;
  margin-left: 14rem;
  padding-bottom: 1rem;
  position: absolute;
}
body main section .informacion {
  border-top: solid 0.2rem white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px;
  grid-template-areas: "titulo foto" "des foto" "titulo2 foto" "des2 foto";
  border-bottom: solid 0.1rem gray;
  margin-top: -10rem;
  padding: 3rem;
}
body main section .informacion .titulo {
  color: black;
  font-size: 4rem;
  grid-area: titulo;
  padding-left: 3rem;
  margin-top: 1rem;
  font-family: "Playfair Display", serif;
}
body main section .informacion .descripcion {
  color: black;
  font-size: 2.5rem;
  text-align: justify;
  padding-left: 3rem;
  grid-area: des;
  font-family: "Poppins", sans-serif;
}
body main section .informacion .img-info {
  margin-top: -7rem;
  width: 50rem;
  grid-area: foto;
  border-radius: 32rem;
  margin-left: 12rem;
  box-shadow: 1px 0px 36px 2px rgba(250, 163, 7, 0.67);
  -webkit-box-shadow: 1px 0px 36px 2px rgba(250, 163, 7, 0.67);
  -moz-box-shadow: 1px 0px 36px 2px rgba(250, 163, 7, 0.67);
}
body main section .informacion .titulo2 {
  grid-area: titulo2;
  color: black;
  font-size: 3rem;
  padding-left: 3rem;
  font-family: "Playfair Display", serif;
}
body main section .informacion .descripcion2 {
  grid-area: des2;
  color: black;
  font-size: 2.5rem;
  text-align: justify;
  width: 85rem;
  padding-left: 3rem;
  font-family: "Poppins", sans-serif;
}
body main section .merecesSeguridad {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 350px;
  grid-template-areas: "pic titulo" "pic2 des" "pic3 des";
  padding: 3rem;
  margin-top: 1rem;
  border-bottom: solid 0.1rem gray;
}
body main section .merecesSeguridad .tituloMereces {
  grid-area: titulo;
  font-size: 8rem;
  text-align: center;
  font-family: "Playfair Display", serif;
}
body main section .merecesSeguridad .descripcionSeguridad {
  grid-area: des;
  font-size: 2.5rem;
  text-align: justify;
  padding: 3.5rem;
  font-family: "Poppins", sans-serif;
}
body main section .merecesSeguridad .pic {
  grid-area: pic;
  width: 100%;
  margin-top: -3rem;
  border-radius: 85px 0px 0px 81px;
  -webkit-border-radius: 85px 0px 0px 81px;
  -moz-border-radius: 85px 0px 0px 81px;
  border: 3px solid #000000;
}
body main section .merecesSeguridad .pic2 {
  grid-area: pic2;
  width: 100%;
  border-radius: 85px 0px 0px 81px;
  -webkit-border-radius: 85px 0px 0px 81px;
  -moz-border-radius: 85px 0px 0px 81px;
  border: 3px solid #000000;
}
body main section .informacion2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px;
  grid-template-areas: "titulo titulo titulo" "card1 card2 card3" "card4 card5 card5";
  row-gap: 1rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding: 2rem;
  border-bottom: solid 0.1rem gray;
}
body main section .informacion2 .cincoBeneficios {
  font-size: 5.5rem;
  color: black;
  grid-area: titulo;
  text-align: center;
  font-family: "Playfair Display", serif;
}
body main section .informacion2 .card {
  background: rgb(252, 184, 46);
  background: radial-gradient(circle, rgb(252, 184, 46) 87%, rgb(255, 255, 255) 99%, rgb(0, 0, 0) 100%);
  grid-area: card1;
  text-align: -webkit-center;
  height: 24rem;
  border-radius: 3rem;
  align-items: center;
  padding: 1rem;
  border: solid 0.2rem #000;
  box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.75);
}
body main section .informacion2 .card .tituloSeguridad {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
}
body main section .informacion2 .card .desSeguridad {
  color: black;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}
body main section .informacion2 .card .seguridad {
  width: 5rem;
}
body main section .informacion2 .card2 {
  background: rgb(252, 184, 46);
  background: radial-gradient(circle, rgb(252, 184, 46) 87%, rgb(255, 255, 255) 99%, rgb(0, 0, 0) 100%);
  grid-area: card2;
  text-align: -webkit-center;
  height: 24rem;
  border-radius: 3rem;
  align-items: center;
  padding: 1rem;
  border: solid 0.2rem black;
  box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.75);
}
body main section .informacion2 .card2 .tituloDisuasion {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
}
body main section .informacion2 .card2 .desDisuasion {
  color: black;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}
body main section .informacion2 .card3 {
  background: rgb(252, 184, 46);
  background: radial-gradient(circle, rgb(252, 184, 46) 87%, rgb(255, 255, 255) 99%, rgb(0, 0, 0) 100%);
  grid-area: card3;
  text-align: -webkit-center;
  height: 24rem;
  border-radius: 3rem;
  align-items: center;
  padding: 1rem;
  border: solid 0.2rem black;
  box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.75);
}
body main section .informacion2 .card3 .tituloAlerta {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
}
body main section .informacion2 .card3 .desAlerta {
  color: black;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}
body main section .informacion2 .card3 .alerta {
  width: 6rem;
  margin-top: -0.5rem;
}
body main section .informacion2 .card4 {
  background: rgb(252, 184, 46);
  background: radial-gradient(circle, rgb(252, 184, 46) 87%, rgb(255, 255, 255) 99%, rgb(0, 0, 0) 100%);
  grid-area: card4;
  text-align: -webkit-center;
  height: 24rem;
  border-radius: 3rem;
  width: 50rem;
  margin-left: 50%;
  padding: 1rem;
  border: solid 0.2rem black;
  box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.75);
}
body main section .informacion2 .card4 .tituloCosto {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
}
body main section .informacion2 .card4 .desCosto {
  color: black;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}
body main section .informacion2 .card4 .costo {
  width: 7rem;
}
body main section .informacion2 .card5 {
  background: rgb(252, 184, 46);
  background: radial-gradient(circle, rgb(252, 184, 46) 87%, rgb(255, 255, 255) 99%, rgb(0, 0, 0) 100%);
  grid-area: card5;
  text-align: -webkit-center;
  height: 24rem;
  border-radius: 3rem;
  position: relative;
  width: 50rem;
  margin-left: 25%;
  padding: 1rem;
  border: solid 0.2rem black;
  box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.75);
}
body main section .informacion2 .card5 .tituloFlex {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
}
body main section .informacion2 .card5 .desFlex {
  color: black;
  font-size: 1.8rem;
  font-family: "Poppins", sans-serif;
}
body main section .informacion2 .card5 .flex {
  margin-top: -0.5rem;
  width: 7rem;
}
body main section .servicios {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: -11rem;
}
body main section .servicios .tituloServicio {
  color: black;
  font-size: 5rem;
  margin-bottom: 1rem;
  font-family: "Playfair Display", serif;
}
body main section .servicios .icons {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  gap: 12rem;
}
body main section .servicios .icons .pago {
  width: 12rem;
}
body main section .servicios .icons .instalacion {
  width: 12rem;
}
body main section .servicios .icons .mantenimiento {
  width: 12rem;
}
body main section .servicios .name-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10rem;
}
body main section .servicios .name-icons .names {
  color: black;
  font-size: 2rem;
}
body footer {
  display: flex;
  background-color: #f8f9fa;
  width: 100%;
  height: 81px;
  position: sticky;
  top: 0px;
  width: 100%;
  block-size: 50px;
  justify-content: space-around;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
body footer .textoF {
  font-size: 2rem;
  color: black;
  font-family: "Inconsolata", monospace;
  text-align: center;
  margin-top: 0.7rem;
}

body main section .contact {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px;
  grid-template-areas: "cartel cartel cartel" "titulo titulo titulo" "des des des" "info info info" "mapa mapa desMapa";
  padding: 2rem;
  justify-items: center;
}
body main section .contact .tituloContacto {
  color: black;
  font-size: 5rem;
  text-align: center;
  grid-area: titulo;
  margin-top: -10rem;
  font-family: "Playfair Display", serif;
}
body main section .contact .cartel {
  grid-area: cartel;
  width: 25rem;
  margin-top: 1rem;
  border-radius: 15rem;
  box-shadow: 1px 0px 36px 2px rgba(250, 163, 7, 0.67);
  -webkit-box-shadow: 1px 0px 36px 2px rgba(250, 163, 7, 0.67);
  -moz-box-shadow: 1px 0px 36px 2px rgba(250, 163, 7, 0.67);
  margin-top: -17rem;
}
body main section .contact .mapa {
  grid-area: mapa;
  margin-top: 12rem;
  width: 100%;
  margin-bottom: 3rem;
}
body main section .contact .mapa .mapa2 {
  width: 100%;
}
body main section .contact .in {
  color: black;
  font-size: 2.3rem;
  grid-area: des;
  margin-top: 1rem;
  text-align: justify;
  padding-right: 3rem;
}
body main section .contact .desMapa {
  grid-area: desMapa;
  font-size: 4rem;
  padding: 3rem;
  width: auto;
  text-align: center;
  margin-top: 10rem;
}
body main section .contact .contenedor {
  grid-area: info;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  padding: 25px 25px;
  gap: 1rem;
  justify-content: center;
  border-radius: 45px 45px 45px 45px;
  -webkit-border-radius: 45px 45px 45px 45px;
  -moz-border-radius: 45px 45px 45px 45px;
  margin-top: 1rem;
}
body main section .contact .contenedor .datos {
  color: black;
  font-size: 2rem;
  margin-top: 1rem;
  margin-left: 1rem;
}
body main section .contact .contenedor .datosGmail {
  font-size: 2rem;
  width: auto;
}
body main section .contact .contenedor .circulo {
  width: 100%;
  height: 11rem;
  border-radius: 1%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  overflow: hidden;
  border: solid 0.1rem rgba(250, 163, 7, 0.67);
  border-radius: 10rem;
}
body main section .contact .contenedor .circulo:hover {
  box-shadow: 1px 0px 36px 2px rgba(250, 163, 7, 0.67);
  -webkit-box-shadow: 1px 0px 36px 2px rgba(250, 163, 7, 0.67);
  -moz-box-shadow: 1px 0px 36px 2px rgba(250, 163, 7, 0.67);
  transition-duration: 0.3s;
}
body main section .contact .contenedor .circulo .ig {
  width: 7rem;
  height: 7rem;
}
body main section .contact .contenedor .circulo .gmail {
  width: 9rem;
  height: 9rem;
}
body main section .contact .contenedor .circulo .wsp {
  width: 7rem;
  height: 7rem;
}
body main section .contact .contenedor .circulo .wsp:hover {
  background: rgb(44, 186, 41);
  background: radial-gradient(circle, rgb(44, 186, 41) 88%, rgb(0, 0, 0) 100%);
  transition-duration: 0.3s;
}

body main .galery .tituloGaleria {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 1rem;
}
body main .galery .tituloGaleriaVideos {
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 1rem;
}
body main .galery .columna {
  display: flex;
  width: 100%;
  flex: 25%;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
}
body main .galery .columna img {
  width: 30rem;
  height: 30rem;
  margin-bottom: 3rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2rem;
  box-shadow: -1px 0px 36px 0px rgba(238, 194, 38, 0.75);
  -webkit-box-shadow: -1px 0px 36px 0px rgba(238, 194, 38, 0.75);
  -moz-box-shadow: -1px 0px 36px 0px rgba(238, 194, 38, 0.75);
  filter: brightness(70%);
}
body main .galery .columna img:hover {
  filter: brightness(100%);
}
body main .galery .columnaVideos {
  display: flex;
  width: 100%;
  flex: 25%;
  justify-content: center;
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
  margin-bottom: -8rem;
}
body main .galery .columnaVideos video {
  border-radius: 2rem;
  width: 40rem;
  height: 40rem;
  margin-bottom: 3rem;
  -o-object-fit: cover;
     object-fit: cover;
  box-shadow: -1px 0px 36px 0px rgba(238, 194, 38, 0.75);
  -webkit-box-shadow: -1px 0px 36px 0px rgba(238, 194, 38, 0.75);
  -moz-box-shadow: -1px 0px 36px 0px rgba(238, 194, 38, 0.75);
}

@media only screen and (max-width: 699px) {
  body main section .contact {
    grid-template-columns: 1fr;
    grid-template-rows: 200px;
    grid-template-areas: "titulo" "subTitulo" "des" "info" "mapa" "desMapa";
    margin: 0px auto;
  }
  body main section .contact .in {
    margin-top: 0rem;
    width: auto;
    font-size: 2rem;
    padding-right: 0rem;
    padding: 1rem;
  }
  body main section .contact .tituloContacto {
    font-size: 4rem;
    padding-left: 0rem;
    width: auto;
  }
  body main section .contact .subTitulo {
    width: auto;
    font-size: 3.5rem;
    margin-top: -15rem;
  }
  body main section .contact .mapa {
    margin: 0px auto !important;
    width: 100%;
  }
  body main section .contact .mapa .mapa2 {
    margin-top: 2rem !important;
    width: 100% !important;
  }
  body main section .contact .contenedor {
    width: 20rem;
    margin-top: 1rem;
    margin-left: 0rem;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    width: 100%;
  }
  body main section .contact .contenedor .datos {
    font-size: 2rem;
    margin: 0px auto;
  }
  body main section .contact .desMapa {
    width: auto;
  }
  body main section div .banner {
    height: 22rem;
  }
  body main section .mediaQlogo {
    margin: 0px auto;
    text-align: center;
    margin-left: -25rem;
  }
  body main section .mediaQlogo .logo {
    width: 25rem;
    height: 25rem;
    margin-left: 0rem;
    margin-top: -12rem;
    vertical-align: top;
  }
  body main section .informacion {
    grid-template-columns: 1fr;
    grid-template-rows: 55px;
    grid-template-areas: "titulo" "foto" "des" "titulo2" "des2";
    margin: 0px auto;
  }
  body main section .informacion .titulo {
    padding-left: 0rem;
    width: auto;
    text-align: center;
    margin-top: -2rem;
  }
  body main section .informacion .descripcion {
    font-size: 2rem;
    padding-left: 0rem;
    margin-top: 3rem;
  }
  body main section .informacion .img-info {
    width: 28rem;
    margin-left: 1rem;
  }
  body main section .informacion .titulo2 {
    font-size: 3rem;
    width: auto;
    text-align: center;
    padding-left: 0rem;
  }
  body main section .informacion .descripcion2 {
    font-size: 2rem;
    width: auto;
    padding-left: 0rem;
  }
  body main section .merecesSeguridad {
    grid-template-columns: 1fr;
    grid-template-rows: 160px;
    grid-template-areas: "titulo" "des" "pic" "pic2";
  }
  body main section .merecesSeguridad .tituloMereces {
    font-size: 5rem;
  }
  body main section .merecesSeguridad .descripcionSeguridad {
    font-size: 2rem;
    text-align: center;
  }
  body main section .merecesSeguridad .pic {
    height: 16rem;
  }
  body main section .merecesSeguridad .pic2 {
    height: 16rem;
  }
  body main section .informacion2 {
    grid-template-columns: 1fr;
    grid-template-rows: 100px;
    grid-template-areas: "titulo" "card1" "card2" "card3" "card4" "card5";
  }
  body main section .informacion2 .card {
    margin-top: 17rem;
    height: auto;
  }
  body main section .informacion2 .cincoBeneficios {
    margin-bottom: 1rem;
  }
  body main section .informacion2 .card2 {
    height: auto;
  }
  body main section .informacion2 .card3 {
    height: auto;
  }
  body main section .informacion2 .card4 {
    height: auto;
    width: auto;
    margin-left: 0rem;
  }
  body main section .informacion2 .card5 {
    height: auto;
    width: auto;
    margin-left: 0rem;
  }
  body main section .servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    padding: 3rem;
  }
  body main section .servicios .tituloServicio {
    font-size: 4rem;
  }
  body main section .servicios .icons {
    flex-direction: column;
    gap: 8rem;
  }
  body main section .servicios .icons .instalacion {
    margin-left: 0rem;
  }
  body main section .servicios .name-icons {
    gap: 11rem;
    flex-direction: column;
  }
  body main section .servicios .name-icons .names {
    margin-top: -35rem;
  }
  body main .galery .tituloGaleria {
    margin-bottom: 2rem;
  }
  body main .galery .tituloGaleriaVideos {
    margin-bottom: 3rem;
  }
  body main .galery .columnaVideos {
    margin-bottom: -3rem;
  }
}
@media only screen and (min-width: 700px) and (max-width: 850px) {
  body main section div .banner {
    height: 22rem;
  }
  body main section .mediaQlogo {
    margin: 0px auto;
    text-align: center;
    margin-left: -60rem;
  }
  body main section .mediaQlogo .logo {
    width: 25rem;
    height: 25rem;
    margin-left: 0rem;
    margin-top: -15rem;
    vertical-align: top;
  }
  body main section .informacion {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px;
    grid-template-areas: "titulo foto" "des des" "titulo2 titulo2" "des2 des2";
    margin: 0px auto;
  }
  body main section .informacion .titulo {
    padding-left: 0rem;
    width: auto;
    text-align: center;
    margin-top: -2rem;
    font-size: 4.5rem;
  }
  body main section .informacion .descripcion {
    font-size: 2rem;
    padding-left: 0rem;
    margin-top: 8rem;
  }
  body main section .informacion .img-info {
    width: 30rem;
    margin-top: -15rem !important;
  }
  body main section .informacion .titulo2 {
    font-size: 3rem;
    width: auto;
    text-align: center;
    padding-left: 0rem;
  }
  body main section .informacion .descripcion2 {
    font-size: 2rem;
    width: auto;
    padding-left: 0rem;
  }
  body main section .merecesSeguridad {
    grid-template-columns: 1fr;
    grid-template-rows: 160px;
    grid-template-areas: "titulo" "des" "pic" "pic2";
  }
  body main section .merecesSeguridad .tituloMereces {
    font-size: 5rem;
  }
  body main section .merecesSeguridad .descripcionSeguridad {
    font-size: 2rem;
    text-align: center;
  }
  body main section .merecesSeguridad .pic {
    height: 20rem;
  }
  body main section .merecesSeguridad .pic2 {
    height: 20rem;
  }
  body main section .informacion2 {
    grid-template-columns: 1fr;
    grid-template-rows: 100px;
    grid-template-areas: "titulo" "card1" "card2" "card3" "card4" "card5";
  }
  body main section .informacion2 .card {
    margin-top: 8rem;
    height: auto;
  }
  body main section .informacion2 .cincoBeneficios {
    margin-bottom: 1rem;
  }
  body main section .informacion2 .card2 {
    height: auto;
  }
  body main section .informacion2 .card3 {
    height: auto;
  }
  body main section .informacion2 .card4 {
    height: auto;
    width: auto;
    margin-left: 0rem;
  }
  body main section .informacion2 .card5 {
    height: auto;
    width: auto;
    margin-left: 0rem;
  }
  body main section .servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    padding: 3rem;
  }
  body main section .servicios .tituloServicio {
    font-size: 4rem;
  }
  body main section .servicios .icons {
    flex-direction: row;
    gap: 8rem;
  }
  body main section .servicios .icons .instalacion {
    margin-left: 0rem;
  }
  body main section .servicios .name-icons {
    gap: 7rem;
  }
  body main section .servicios .name-icons .names {
    margin-top: 1rem;
  }
  body main section .contact {
    grid-template-columns: 1fr;
    grid-template-rows: 200px;
    grid-template-areas: "titulo" "subTitulo" "des" "info" "mapa" "desMapa";
    margin: 0px auto;
  }
  body main section .contact .in {
    margin-top: 0rem;
    width: auto;
    font-size: 2rem;
    padding-right: 0rem;
    padding: 1rem;
  }
  body main section .contact .tituloContacto {
    font-size: 4rem;
    padding-left: 0rem;
    width: auto;
  }
  body main section .contact .subTitulo {
    width: auto;
    font-size: 3.5rem;
    margin-top: -15rem;
  }
  body main section .contact .mapa {
    margin: 0px auto !important;
    width: 100%;
  }
  body main section .contact .mapa .mapa2 {
    margin-top: 2rem !important;
    width: 100% !important;
  }
  body main section .contact .contenedor {
    width: 20rem;
    margin-top: 1rem;
    margin-left: 0rem;
    align-items: center;
    margin: 0px auto;
    width: 100%;
  }
  body main section .contact .contenedor .datos {
    font-size: 2.5rem;
    margin: 0px auto;
  }
  body main section .contact .desMapa {
    width: auto;
  }
  body main .galery .columna {
    justify-content: space-evenly;
  }
}
@media only screen and (min-width: 850px) and (max-width: 1200px) {
  body main section div .banner {
    height: 22rem;
  }
  body main section .mediaQlogo {
    margin: 0px auto;
    margin-left: 13rem;
  }
  body main section .mediaQlogo .logo {
    width: 25rem;
    height: 25rem;
    margin-left: 0rem;
    margin-top: -15rem;
    vertical-align: top;
  }
  body main section .informacion {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px;
    grid-template-areas: "titulo foto" "des des" "titulo2 titulo2" "des2 des2";
    margin: 0px auto;
  }
  body main section .informacion .titulo {
    padding-left: 0rem;
    width: auto;
    text-align: center;
    margin-top: -6rem;
    font-size: 5.5rem;
  }
  body main section .informacion .descripcion {
    font-size: 2rem;
    padding-left: 0rem;
    margin-top: 8rem;
  }
  body main section .informacion .img-info {
    width: 35rem;
    margin-top: -19rem !important;
  }
  body main section .informacion .titulo2 {
    font-size: 4.5rem;
    width: auto;
    text-align: center;
    padding-left: 0rem;
  }
  body main section .informacion .descripcion2 {
    font-size: 2rem;
    width: auto;
    padding-left: 0rem;
  }
  body main section .merecesSeguridad {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 160px;
    grid-template-areas: "pic titulo" "pic2 des";
  }
  body main section .merecesSeguridad .tituloMereces {
    font-size: 5rem;
  }
  body main section .merecesSeguridad .descripcionSeguridad {
    font-size: 2rem;
    text-align: center;
  }
  body main section .merecesSeguridad .pic {
    height: 25rem;
  }
  body main section .merecesSeguridad .pic2 {
    height: 25rem;
    margin-top: 7rem;
  }
  body main section .informacion2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 130px;
    grid-template-areas: "titulo titulo" "card1 card2" "card3 card4" "card5 card5";
  }
  body main section .informacion2 .card {
    margin-top: 0rem;
    height: auto;
  }
  body main section .informacion2 .cincoBeneficios {
    margin-bottom: 1rem;
  }
  body main section .informacion2 .card2 {
    height: auto;
  }
  body main section .informacion2 .card3 {
    height: auto;
  }
  body main section .informacion2 .card4 {
    height: auto;
    width: auto;
    margin-left: 0rem;
  }
  body main section .informacion2 .card5 {
    height: auto;
    width: auto;
    margin-left: 0rem;
  }
  body main section .servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    padding: 3rem;
  }
  body main section .servicios .tituloServicio {
    font-size: 4rem;
  }
  body main section .servicios .icons {
    flex-direction: row;
    gap: 8rem;
  }
  body main section .servicios .icons .instalacion {
    margin-left: 0rem;
  }
  body main section .servicios .name-icons {
    gap: 7rem;
  }
  body main section .servicios .name-icons .names {
    margin-top: 1rem;
  }
  body main section .contact {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px;
    grid-template-areas: "titulo titulo" "subTitulo subTitulo" "des des" "info info" "mapa mapa" "desMapa desMapa";
    margin: 0px auto;
  }
  body main section .contact .in {
    margin-top: 0rem;
    width: auto;
    font-size: 2rem;
    padding-right: 0rem;
    padding: 1rem;
  }
  body main section .contact .tituloContacto {
    font-size: 4rem;
    padding-left: 0rem;
    width: auto;
  }
  body main section .contact .subTitulo {
    width: auto;
    font-size: 3.5rem;
    margin-top: -15rem;
  }
  body main section .contact .mapa {
    margin: 0px auto !important;
    width: 100%;
  }
  body main section .contact .mapa .mapa2 {
    margin-top: 2rem !important;
    width: 100% !important;
  }
  body main section .contact .contenedor {
    width: 20rem;
    margin-top: 1rem;
    margin-left: 0rem;
    align-items: center;
    margin: 0px auto;
    width: 100%;
  }
  body main section .contact .contenedor .datos {
    font-size: 2.5rem;
    margin: 0px auto;
  }
  body main section .contact .desMapa {
    width: auto;
  }
  body main .galery .tituloGaleria {
    margin-top: 2rem;
  }
  body main .galery .columna {
    justify-content: space-evenly;
  }
  body main .galery .columnaVideos {
    margin-bottom: -3rem;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1500px) {
  body main section div .banner {
    height: 45rem;
  }
  body main section .mediaQlogo {
    margin: 0px auto;
    margin-left: 13rem;
  }
  body main section .mediaQlogo .logo {
    width: 30rem;
    height: 30rem;
    margin-left: 0rem;
    margin-top: -38rem;
    vertical-align: top;
  }
  body main section .informacion {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px;
    grid-template-areas: "titulo foto" "des foto" "titulo2 foto" "des2 foto";
    margin: 0px auto;
    margin-top: -6rem;
  }
  body main section .informacion .titulo {
    padding-left: 0rem;
    width: auto;
    text-align: center;
    margin-top: -6rem;
    font-size: 5.5rem;
  }
  body main section .informacion .descripcion {
    font-size: 2rem;
    padding-left: 0rem;
    margin-top: -1rem;
  }
  body main section .informacion .img-info {
    width: 48rem;
    margin-top: -10rem !important;
  }
  body main section .informacion .titulo2 {
    font-size: 4.5rem;
    width: auto;
    text-align: center;
    padding-left: 0rem;
  }
  body main section .informacion .descripcion2 {
    font-size: 2rem;
    width: auto;
    padding-left: 0rem;
  }
  body main section .merecesSeguridad {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 160px;
    grid-template-areas: "pic titulo" "pic2 des";
  }
  body main section .merecesSeguridad .tituloMereces {
    font-size: 5rem;
  }
  body main section .merecesSeguridad .descripcionSeguridad {
    font-size: 2rem;
    text-align: center;
  }
  body main section .merecesSeguridad .pic {
    height: 25rem;
  }
  body main section .merecesSeguridad .pic2 {
    height: 25rem;
    margin-top: 7rem;
  }
  body main section .informacion2 {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 130px;
    grid-template-areas: "titulo titulo" "card1 card2" "card3 card4" "card5 card5";
  }
  body main section .informacion2 .card {
    margin-top: 0rem;
    height: auto;
  }
  body main section .informacion2 .cincoBeneficios {
    margin-bottom: 1rem;
  }
  body main section .informacion2 .card2 {
    height: auto;
  }
  body main section .informacion2 .card3 {
    height: auto;
  }
  body main section .informacion2 .card4 {
    height: auto;
    width: auto;
    margin-left: 0rem;
  }
  body main section .informacion2 .card5 {
    height: auto;
    width: auto;
    margin-left: 0rem;
  }
  body main section .servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
    margin-bottom: -6rem;
    padding: 3rem;
  }
  body main section .servicios .tituloServicio {
    font-size: 4rem;
  }
  body main section .servicios .icons {
    flex-direction: row;
    gap: 8rem;
  }
  body main section .servicios .icons .instalacion {
    margin-left: 0rem;
  }
  body main section .servicios .name-icons {
    gap: 7rem;
  }
  body main section .servicios .name-icons .names {
    margin-top: 1rem;
  }
  body main section .contact {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 53px;
    grid-template-areas: "titulo titulo" "mapa subTitulo" "mapa des" "mapa info" "mapa desMapa";
    margin: 0px auto;
    margin-top: -8rem;
    margin-bottom: 3rem;
  }
  body main section .contact .in {
    margin-top: 1rem;
    width: auto;
    font-size: 2rem;
    padding-right: 0rem;
    padding: 1rem;
    text-align: center;
  }
  body main section .contact .tituloContacto {
    font-size: 5rem;
    padding-left: 0rem;
    width: auto;
  }
  body main section .contact .subTitulo {
    width: auto;
    font-size: 3.5rem;
    margin-top: 1rem;
  }
  body main section .contact .mapa {
    margin: 0px auto !important;
    width: 100%;
  }
  body main section .contact .mapa .mapa2 {
    margin-top: 2rem !important;
    width: 100% !important;
  }
  body main section .contact .contenedor {
    width: 20rem;
    margin-top: 1rem;
    margin-left: 0rem;
    align-items: center;
    margin: 0px auto;
    width: 100%;
    margin-top: 0rem;
  }
  body main section .contact .contenedor .datos {
    font-size: 2rem;
    margin: 0px auto;
  }
  body main section .contact .desMapa {
    width: auto;
  }
  body main .galery .columnaVideos {
    margin-bottom: -2rem;
  }
}/*# sourceMappingURL=estilos.css.map */