@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background-color: white;
}
body header .navbar {
  background-color: #f8f9fa !important;
}
body header .navbar div .nombre-empresa {
  font-size: 3rem;
}
body header .navbar div div {
  justify-content: center;
}
body header .navbar ul {
  font-size: 1rem;
}
body main section div .banner {
  width: 100%;
  height: auto;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
}
body main section div .logo {
  margin-top: -30rem;
  background-color: rgba(255, 255, 255, 0.5);
  height: 20rem;
  border-radius: 5rem;
  vertical-align: middle;
  margin-left: 9rem;
  padding-bottom: 1rem;
  position: absolute;
}
body main section .informacion {
  border-top: solid 0.2rem white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px;
  grid-template-areas: "titulo foto" "des foto" "titulo2 foto" "des2 foto";
  border-bottom: solid 0.1rem gray;
  margin-top: -10rem;
  padding: 3rem;
}
body main section .informacion .titulo {
  color: black;
  font-size: 4rem;
  grid-area: titulo;
  padding-left: 3rem;
  margin-top: 1rem;
  font-family: "Playfair Display", serif;
}
body main section .informacion .descripcion {
  color: black;
  font-size: 1.5rem;
  width: 55rem;
  text-align: justify;
  padding-left: 3rem;
  grid-area: des;
  font-family: "Poppins", sans-serif;
}
body main section .informacion .img-info {
  margin-top: 1rem;
  width: 30rem;
  grid-area: foto;
  border-radius: 32rem;
  margin-left: 5rem;
  box-shadow: 1px 0px 36px 2px rgba(250, 163, 7, 0.67);
  -webkit-box-shadow: 1px 0px 36px 2px rgba(250, 163, 7, 0.67);
  -moz-box-shadow: 1px 0px 36px 2px rgba(250, 163, 7, 0.67);
}
body main section .informacion .titulo2 {
  grid-area: titulo2;
  color: black;
  font-size: 3rem;
  padding-left: 3rem;
  font-family: "Playfair Display", serif;
}
body main section .informacion .descripcion2 {
  grid-area: des2;
  color: black;
  font-size: 1.5rem;
  text-align: justify;
  width: 55rem;
  padding-left: 3rem;
  font-family: "Poppins", sans-serif;
}
body main section .merecesSeguridad {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 350px;
  grid-template-areas: "pic titulo" "pic2 des" "pic3 des";
  padding: 3rem;
  margin-top: 1rem;
  border-bottom: solid 0.1rem gray;
}
body main section .merecesSeguridad .tituloMereces {
  grid-area: titulo;
  font-size: 5rem;
  text-align: center;
  font-family: "Playfair Display", serif;
}
body main section .merecesSeguridad .descripcionSeguridad {
  grid-area: des;
  font-size: 1.5rem;
  text-align: justify;
  padding: 1.5rem;
  font-family: "Poppins", sans-serif;
}
body main section .merecesSeguridad .pic {
  grid-area: pic;
  width: 100%;
  margin-top: -3rem;
  border-radius: 85px 0px 0px 81px;
  -webkit-border-radius: 85px 0px 0px 81px;
  -moz-border-radius: 85px 0px 0px 81px;
  border: 3px solid #000000;
}
body main section .merecesSeguridad .pic2 {
  grid-area: pic2;
  width: 100%;
  border-radius: 85px 0px 0px 81px;
  -webkit-border-radius: 85px 0px 0px 81px;
  -moz-border-radius: 85px 0px 0px 81px;
  border: 3px solid #000000;
}
body main section .informacion2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px;
  grid-template-areas: "titulo titulo titulo" "card1 card2 card3" "card4 card5 card5";
  row-gap: 1rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding: 2rem;
  border-bottom: solid 0.1rem gray;
}
body main section .informacion2 .cincoBeneficios {
  font-size: 2.5rem;
  color: black;
  grid-area: titulo;
  text-align: center;
  font-family: "Playfair Display", serif;
}
body main section .informacion2 .card {
  background: rgb(252, 184, 46);
  background: radial-gradient(circle, rgb(252, 184, 46) 87%, rgb(255, 255, 255) 99%, rgb(0, 0, 0) 100%);
  grid-area: card1;
  text-align: -webkit-center;
  height: 23rem;
  border-radius: 3rem;
  align-items: center;
  padding: 1rem;
  border: solid 0.2rem #000;
  box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.75);
}
body main section .informacion2 .card .tituloSeguridad {
  color: black;
  font-family: "Poppins", sans-serif;
}
body main section .informacion2 .card .desSeguridad {
  color: black;
  font-size: 1.7rem;
  font-family: "Poppins", sans-serif;
}
body main section .informacion2 .card .seguridad {
  width: 5rem;
}
body main section .informacion2 .card2 {
  background: rgb(252, 184, 46);
  background: radial-gradient(circle, rgb(252, 184, 46) 87%, rgb(255, 255, 255) 99%, rgb(0, 0, 0) 100%);
  grid-area: card2;
  text-align: -webkit-center;
  height: 23rem;
  border-radius: 3rem;
  align-items: center;
  padding: 1rem;
  border: solid 0.2rem black;
  box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.75);
}
body main section .informacion2 .card2 .tituloDisuasion {
  color: black;
  font-family: "Poppins", sans-serif;
}
body main section .informacion2 .card2 .desDisuasion {
  color: black;
  font-size: 1.7rem;
  font-family: "Poppins", sans-serif;
}
body main section .informacion2 .card3 {
  background: rgb(252, 184, 46);
  background: radial-gradient(circle, rgb(252, 184, 46) 87%, rgb(255, 255, 255) 99%, rgb(0, 0, 0) 100%);
  grid-area: card3;
  text-align: -webkit-center;
  height: 23rem;
  border-radius: 3rem;
  align-items: center;
  padding: 1rem;
  border: solid 0.2rem black;
  box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.75);
}
body main section .informacion2 .card3 .tituloAlerta {
  color: black;
  font-family: "Poppins", sans-serif;
}
body main section .informacion2 .card3 .desAlerta {
  color: black;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}
body main section .informacion2 .card3 .alerta {
  width: 6rem;
  margin-top: -0.5rem;
}
body main section .informacion2 .card4 {
  background: rgb(252, 184, 46);
  background: radial-gradient(circle, rgb(252, 184, 46) 87%, rgb(255, 255, 255) 99%, rgb(0, 0, 0) 100%);
  grid-area: card4;
  text-align: -webkit-center;
  height: 23rem;
  border-radius: 3rem;
  width: 32rem;
  margin-left: 50%;
  padding: 1rem;
  border: solid 0.2rem black;
  box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.75);
}
body main section .informacion2 .card4 .tituloCosto {
  color: black;
  font-family: "Poppins", sans-serif;
}
body main section .informacion2 .card4 .desCosto {
  color: black;
  font-size: 1.7rem;
  font-family: "Poppins", sans-serif;
}
body main section .informacion2 .card4 .costo {
  width: 5rem;
}
body main section .informacion2 .card5 {
  background: rgb(252, 184, 46);
  background: radial-gradient(circle, rgb(252, 184, 46) 87%, rgb(255, 255, 255) 99%, rgb(0, 0, 0) 100%);
  grid-area: card5;
  text-align: -webkit-center;
  height: 23rem;
  border-radius: 3rem;
  position: relative;
  width: 30rem;
  margin-left: 25%;
  padding: 1rem;
  border: solid 0.2rem black;
  box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 0px 16px 0px rgba(0, 0, 0, 0.75);
}
body main section .informacion2 .card5 .tituloFlex {
  color: black;
  font-family: "Poppins", sans-serif;
}
body main section .informacion2 .card5 .desFlex {
  color: black;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}
body main section .informacion2 .card5 .flex {
  margin-top: -0.5rem;
  width: 5rem;
}
body main section .servicios {
  text-align: center;
  margin-top: 1rem;
}
body main section .servicios .tituloServicio {
  color: black;
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: "Playfair Display", serif;
}
body main section .servicios .icons {
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  gap: 12rem;
}
body main section .servicios .icons .pago {
  width: 8rem;
}
body main section .servicios .icons .instalacion {
  width: 8rem;
}
body main section .servicios .icons .mantenimiento {
  width: 8rem;
}
body main section .servicios .name-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10rem;
}
body main section .servicios .name-icons .names {
  color: black;
  font-size: 1.5rem;
}
body footer {
  display: flex;
  background-color: #f8f9fa;
  width: 100%;
  height: 81px;
  position: sticky;
  top: 0px;
  width: 100%;
  block-size: 50px;
  justify-content: space-around;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
body footer .textoF {
  font-size: 1.1rem;
  color: black;
  font-family: "Inconsolata", monospace;
  text-align: center;
  margin-top: 0.7rem;
}

body main section .contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px;
  grid-template-areas: "titulo titulo" "mapa subTitulo" "mapa des" "desMapa info";
  padding: 2rem;
  justify-items: center;
}
body main section .contact .tituloContacto {
  color: black;
  font-size: 5rem;
  text-align: center;
  grid-area: titulo;
  margin-top: -5rem;
  font-family: "Playfair Display", serif;
}
body main section .contact .mapa {
  grid-area: mapa;
}
body main section .contact .subTitulo {
  font-size: 2rem;
  grid-area: subTitulo;
  margin-top: -8rem;
}
body main section .contact .in {
  color: black;
  font-size: 1.3rem;
  grid-area: des;
  margin-top: -15rem;
  text-align: justify;
  padding-right: 3rem;
}
body main section .contact .desMapa {
  grid-area: desMapa;
  font-size: 1.1rem;
  padding: 1rem;
  width: 35rem;
  text-align: center;
}
body main section .contact .contenedor {
  grid-area: info;
  background: rgb(252, 184, 46);
  background: radial-gradient(circle, rgb(252, 184, 46) 87%, rgb(255, 255, 255) 99%, rgb(0, 0, 0) 100%);
  width: 35rem;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
  padding: 25px 25px;
  gap: 1rem;
  justify-content: space-around;
  border-radius: 45px 45px 45px 45px;
  -webkit-border-radius: 45px 45px 45px 45px;
  -moz-border-radius: 45px 45px 45px 45px;
  margin-top: -15rem;
}
body main section .contact .contenedor .datos {
  color: black;
  align-content: space-around;
  font-size: 1.3rem;
  margin-top: 1rem;
  margin-left: -2rem;
}
body main section .contact .contenedor .circulo {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: rgb(44, 44, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
body main section .contact .contenedor .circulo .ig {
  width: 4rem;
  height: 4rem;
}
body main section .contact .contenedor .circulo .ig:hover {
  background-color: #d62976;
  transition-duration: 0.3s;
}
body main section .contact .contenedor .circulo .wsp {
  width: 5rem;
  height: 5rem;
}/*# sourceMappingURL=estilos.css.map */