@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;

}
body{
    background-color: white;
    header{
        .navbar{
            background-color: #f8f9fa !important;
            div{
                .navbar-toggler{
                    background-color: gold !important;
                }
                .nombre-empresa{
                    font-size: 3rem;
                    
                }
                div{
                    justify-content: center;
                    ul{
                        li{
                            a{
                                font-size: 3rem !important;
                                font-family: "Poppins", sans-serif;
                            }
                        }
                    }
                }
                
            }
            ul{
                font-size: 1rem;
            }
        }
    }
    main{
        section{
            div{
                .banner{
                    width: 100%;
                    height: auto;
                    filter: blur(2px);
                    -webkit-filter: blur(2px);
                    -moz-filter: blur(2px);
                }
            }
            .mediaQlogo{
                .logo{
                    margin-top: -46rem;
                    background-color: rgba(255,255,255,0.5);
                    height: 38rem;
                    border-radius: 5rem;
                    vertical-align: middle;
                    margin-left: 14rem;
                    padding-bottom: 1rem;
                    position:absolute;
                }
            } 
            .informacion{
                border-top: solid 0.2rem white;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 100px;
                grid-template-areas: 
                "titulo foto"
                "des foto"
                "titulo2 foto"
                "des2 foto";
                border-bottom: solid 0.1rem gray;
                margin-top: -10rem;
                padding: 3rem;
                .titulo{
                    color: black;
                    font-size: 4rem;
                    grid-area: titulo;
                    padding-left: 3rem;
                    margin-top: 1rem;
                    font-family: "Playfair Display", serif;
                }
                .descripcion{
                    color: black;
                    font-size: 2.5rem;
                    text-align: justify;
                    padding-left: 3rem;
                    grid-area: des;
                    font-family: "Poppins", sans-serif;
                }
                .img-info{
                    margin-top: -7rem;
                    width: 50rem;
                    grid-area: foto;
                    border-radius: 32rem;
                    margin-left: 12rem;
                    box-shadow: 1px 0px 36px 2px rgba(250,163,7,0.67);
                    -webkit-box-shadow: 1px 0px 36px 2px rgba(250,163,7,0.67);
                    -moz-box-shadow: 1px 0px 36px 2px rgba(250,163,7,0.67);
                }
                .titulo2{
                    grid-area: titulo2;
                    color: black;
                    font-size: 3rem;
                    padding-left: 3rem;
                    font-family: "Playfair Display", serif;
                }
                .descripcion2{
                    grid-area: des2;
                    color: black;
                    font-size: 2.5rem;
                    text-align: justify;
                    width: 85rem;
                    padding-left: 3rem;
                    font-family: "Poppins", sans-serif;
                }
            }
            .merecesSeguridad{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 350px;
                grid-template-areas: 
                "pic titulo"
                "pic2 des"
                "pic3 des";
                padding: 3rem;
                margin-top: 1rem;
                border-bottom: solid 0.1rem gray;
                .tituloMereces{
                    grid-area: titulo;
                    font-size: 8rem;
                    text-align: center;
                    font-family: "Playfair Display", serif;
                }
                .descripcionSeguridad{
                    grid-area: des;
                    font-size: 2.5rem;
                    text-align: justify;
                    padding: 3.5rem;
                    font-family: "Poppins", sans-serif;
                }
                .pic{
                    grid-area: pic;
                    width: 100%;
                    
                    margin-top: -3rem;
                    border-radius: 85px 0px 0px 81px;
                    -webkit-border-radius: 85px 0px 0px 81px;
                    -moz-border-radius: 85px 0px 0px 81px;
                    border: 3px solid #000000;
                }
                .pic2{
                    grid-area: pic2;
                    width: 100%;
                    border-radius: 85px 0px 0px 81px;
                    -webkit-border-radius: 85px 0px 0px 81px;
                    -moz-border-radius: 85px 0px 0px 81px;
                    border: 3px solid #000000;
                }
            }
            .informacion2{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 100px;
                grid-template-areas: 
                "titulo titulo titulo"
                "card1 card2 card3"
                "card4 card5 card5";
                row-gap: 1rem;
                column-gap: 1rem;
                padding: 2rem;
                border-bottom: solid 0.1rem gray;
                .cincoBeneficios{
                    font-size: 5.5rem;
                    color: black;
                    grid-area: titulo;
                    text-align: center;
                    font-family: "Playfair Display", serif;
                }
                .card{
                    background: rgb(252,184,46);
                    background: radial-gradient(circle, rgba(252,184,46,1) 87%, rgba(255,255,255,1) 99%, rgba(0,0,0,1) 100%);
                    grid-area: card1;
                    text-align: -webkit-center;
                    height: 24rem;
                    border-radius: 3rem;
                    align-items: center;
                    padding: 1rem;
                    border: solid 0.2rem #000;
                    box-shadow: -1px 0px 16px 0px rgba(0,0,0,0.75);
                    -webkit-box-shadow: -1px 0px 16px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: -1px 0px 16px 0px rgba(0,0,0,0.75);
                    .tituloSeguridad{
                        color: black;
                        font-family: "Poppins", sans-serif;
                        font-size: 2.5rem;
                    }
                    .desSeguridad{
                        color: black;
                        font-size: 2rem;
                        font-family: "Poppins", sans-serif;
                    }
                    .seguridad{
                        width: 5rem;
                    }
                }
                .card2{
                    background: rgb(252,184,46);
                    background: radial-gradient(circle, rgba(252,184,46,1) 87%, rgba(255,255,255,1) 99%, rgba(0,0,0,1) 100%);
                    grid-area: card2;
                    text-align: -webkit-center;
                    height: 24rem;
                    border-radius: 3rem;
                    align-items: center;
                    padding: 1rem;
                    border: solid 0.2rem black;
                    box-shadow: -1px 0px 16px 0px rgba(0,0,0,0.75);
                    -webkit-box-shadow: -1px 0px 16px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: -1px 0px 16px 0px rgba(0,0,0,0.75);
                    .tituloDisuasion{
                        color: black;
                        font-family: "Poppins", sans-serif;
                        font-size: 2.5rem;
                    }
                    .desDisuasion{
                        color: black;
                        font-size: 2rem;
                        font-family: "Poppins", sans-serif;
                    }
                }
                .card3{
                    background: rgb(252,184,46);
                    background: radial-gradient(circle, rgba(252,184,46,1) 87%, rgba(255,255,255,1) 99%, rgba(0,0,0,1) 100%);
                    grid-area: card3;
                    text-align: -webkit-center;
                    height: 24rem;
                    border-radius: 3rem;
                    align-items: center;
                    padding: 1rem;
                    border: solid 0.2rem black;
                    box-shadow: -1px 0px 16px 0px rgba(0,0,0,0.75);
                    -webkit-box-shadow: -1px 0px 16px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: -1px 0px 16px 0px rgba(0,0,0,0.75);
                    .tituloAlerta{
                        color: black;
                        font-family: "Poppins", sans-serif;
                        font-size: 2rem;
                    }
                    .desAlerta{
                        color: black;
                        font-size: 2rem;
                        font-family: "Poppins", sans-serif;
                    }
                    .alerta{
                        width: 6rem;
                        margin-top: -0.5rem;
                    }
                }
                .card4{
                    background: rgb(252,184,46);
                    background: radial-gradient(circle, rgba(252,184,46,1) 87%, rgba(255,255,255,1) 99%, rgba(0,0,0,1) 100%);
                    grid-area: card4;
                    text-align: -webkit-center;
                    height: 24rem;
                    border-radius: 3rem;
                    width: 50rem;
                    margin-left: 50%;
                    padding: 1rem;
                    border: solid 0.2rem black;
                    box-shadow: -1px 0px 16px 0px rgba(0,0,0,0.75);
                    -webkit-box-shadow: -1px 0px 16px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: -1px 0px 16px 0px rgba(0,0,0,0.75);
                    .tituloCosto{
                        color: black;
                        font-family: "Poppins", sans-serif;
                        font-size: 2.5rem;
                    }
                    .desCosto{
                        color: black;
                        font-size: 2rem;
                        font-family: "Poppins", sans-serif;
                    }
                    .costo{
                        width: 7rem;
                    }
                }
                .card5{
                    background: rgb(252,184,46);
                    background: radial-gradient(circle, rgba(252,184,46,1) 87%, rgba(255,255,255,1) 99%, rgba(0,0,0,1) 100%);
                    grid-area: card5;
                    text-align: -webkit-center;
                    height: 24rem;
                    border-radius: 3rem;
                    position: relative;
                    width: 50rem;
                    margin-left: 25%;
                    padding: 1rem;
                    border: solid 0.2rem black;
                    box-shadow: -1px 0px 16px 0px rgba(0,0,0,0.75);
                    -webkit-box-shadow: -1px 0px 16px 0px rgba(0,0,0,0.75);
                    -moz-box-shadow: -1px 0px 16px 0px rgba(0,0,0,0.75);
                    .tituloFlex{
                        color: black;
                        font-family: "Poppins", sans-serif;
                        font-size: 2.5rem;
                    }
                    .desFlex{
                        color: black;
                        font-size: 1.8rem;
                        font-family: "Poppins", sans-serif;
                    }
                    .flex{
                        margin-top: -0.5rem;
                        width: 7rem;
                    }
                }
            }
            .servicios{
                text-align: center;
                margin-top: 1rem;
                margin-bottom: -11rem;
                .tituloServicio{
                    color: black;
                    font-size: 5rem;
                    margin-bottom: 1rem;
                    font-family: "Playfair Display", serif;
                }
                .icons{
                    background-color: rgba(255,255,255,0.5);;
                    display: flex;
                    flex-direction: row;
                    align-items: baseline;
                    justify-content: center;
                    gap: 12rem;
                    .pago{
                        width: 12rem;
                    }
                    .instalacion{
                        width: 12rem;
                    }
                    .mantenimiento{
                        width: 12rem;
                    }
                }
                .name-icons{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 10rem;
                    .names{
                        color: black;
                        font-size: 2rem;
                    }
                }
            }
        }
    }
    footer{
        display: flex;
        background-color: #f8f9fa;
        width: 100%;
        height: 81px;
        position: sticky;
        top: 0px;
        width: 100%;
        block-size: 50px;
        justify-content: space-around;
        column-gap: 1rem;
        .textoF{
            font-size: 2rem;
            color: black;
            font-family: "Inconsolata", monospace;
            text-align: center;
            margin-top: 0.7rem
        }
    }
}
@import "extras/contacto";
@import "extras/galeria.scss";
@import "extras/mediaQ";