body{
    main{
        section{
            .contact{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 200px;
                grid-template-areas:
                "titulo titulo" 
                "mapa subTitulo"
                "mapa des"
                "desMapa info";
                padding: 2rem;
                justify-items: center;
                .tituloContacto{
                    color: black;
                    font-size: 5rem;
                    text-align: center;
                    grid-area: titulo;
                    margin-top: -5rem;
                    font-family: "Playfair Display", serif;
                }
                .mapa{
                    grid-area: mapa;
                    
                }
                .subTitulo{
                    font-size: 3.5rem;
                    grid-area: subTitulo;
                    margin-top: -8rem;
                    text-align: center;
                }
                .in{
                    color: black;
                    font-size: 2.3rem;
                    grid-area: des;
                    margin-top: -15rem;
                    text-align: justify;
                    padding-right: 3rem;
                }
                .desMapa{
                    grid-area: desMapa;
                    font-size: 2rem;
                    padding: 1rem;
                    width: 51rem;
                    text-align: center;
                }
                .contenedor{
                    grid-area: info;
                    background: rgb(252,184,46);
                    background: radial-gradient(circle, rgba(252,184,46,1) 87%, rgba(255,255,255,1) 99%, rgba(0,0,0,1) 100%);
                    width: 55rem;
                    height: fit-content;
                    display: flex;
                    flex-direction: row;
                    margin-left: 1rem;
                    padding: 25px 25px;
                    gap: 1rem;
                    justify-content: space-around;
                    border-radius: 45px 45px 45px 45px;
                    -webkit-border-radius: 45px 45px 45px 45px;
                    -moz-border-radius: 45px 45px 45px 45px;
                    margin-top: -15rem;
                    .datos{
                        color: black;
                        align-content: space-around;
                        font-size: 2rem;
                        margin-top: 1rem;
                        margin-left: -2rem;
                    }
                    .circulo{
                        width: 65px;
                        height: 65px;
                        border-radius: 50%;
                        background-color: rgb(44, 44, 44);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        overflow: hidden;
                        .ig{
                            width: 7rem;
                            height: 7rem;
                            &:hover{
                                background-color: #d62976;
                                transition-duration: .3s;   
                            }       
                        }
                        .wsp{
                            width: 10rem;
                            height: 10rem;
                        }
                    }
                }
            }
        }
        
    }
}