body{
    main{
        section{
            .contact{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: 200px;
                grid-template-areas:
                "cartel cartel cartel" 
                "titulo titulo titulo"
                "des des des"
                "info info info"
                "mapa mapa desMapa";
                padding: 2rem;
                justify-items: center;
                .tituloContacto{
                    color: black;
                    font-size: 5rem;
                    text-align: center;
                    grid-area: titulo;
                    margin-top: -7rem;
                    font-family: "Poppins", sans-serif;
                }
                .cartel{
                    grid-area: cartel;
                    width: 25rem;
                    margin-top: 1rem;
                    border-radius: 15rem;
                    box-shadow: 1px 0px 36px 2px rgba(250,163,7,0.67);
                    -webkit-box-shadow: 1px 0px 36px 2px rgba(250,163,7,0.67);
                    -moz-box-shadow: 1px 0px 36px 2px rgba(250,163,7,0.67);
                    margin-top: -17rem;
                }
                .mapa{
                    grid-area: mapa;
                    margin-top: 12rem;
                    width: 100%;
                    margin-bottom: 3rem;
                    .mapa2{
                        width: 100%;
                    }
                }
                .in{
                    color: black;
                    font-size: 2.3rem;
                    grid-area: des;
                    margin-top: 1rem;
                    text-align: justify;
                    padding-right: 3rem;
                    font-family: "Poppins", sans-serif;
                }
                .desMapa{
                    grid-area: desMapa;
                    font-size: 3rem;
                    padding: 3rem;
                    width: auto;
                    text-align: center;
                    margin-top: 10rem;
                    font-family: "Poppins", sans-serif;
                }
                .contenedor{
                    grid-area: info;
                    
                    width: 100%;
                    height: fit-content;
                    display: flex;
                    flex-direction: row;
                    margin-left: 1rem;
                    padding: 25px 25px;
                    gap: 1rem;
                    justify-content: center;
                    border-radius: 45px 45px 45px 45px;
                    -webkit-border-radius: 45px 45px 45px 45px;
                    -moz-border-radius: 45px 45px 45px 45px;
                    margin-top: 1rem;
                    a{
                        .datos{
                            color: black;
                            font-size: 2rem;
                            margin-top: 1rem;
                            margin-left: 1rem;
                            
                        }
                    }
                    
                    .datosGmail{
                        font-size: 2rem;
                        width: auto;
                        margin-left: 0.5rem;
                    }
                    .circulo{
                        width: 100%;
                        height: 11rem;
                        border-radius: 1%;
                        background-color: rgba(255,255,255,0.5);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: row;
                        overflow: hidden;
                        border: solid 0.1rem rgba(250,163,7,0.67);
                        border-radius: 10rem;
                        &:hover{
                            box-shadow: 1px 0px 36px 2px rgba(250,163,7,0.67);
                            -webkit-box-shadow: 1px 0px 36px 2px rgba(250,163,7,0.67);
                            -moz-box-shadow: 1px 0px 36px 2px rgba(250,163,7,0.67);
                            
                            transition-duration: .3s;   
                        }     
                        .ig{
                            width: 7rem;
                            height: 7rem;  
                        }
                        .gmail{
                            width: 8rem;
                            height: 8rem;
                        }
                        .wsp{
                            width: 7rem;
                            height: 7rem;
                        }
                    }
                }
            }
        }
        
    }
}